/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Asap:400italic,700italic);
@font-face {
    font-family: 'Streamster';
    src: url('assets/fonts/Streamster/Streamster.eot');
    src: url('assets/fonts/Streamster/Streamster.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Streamster/Streamster.woff2') format('woff2'), url('assets/fonts/Streamster/Streamster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('assets/fonts/Futura_Bold_Italic/FuturaBT-BoldItalic.woff2') format('woff2'), url('assets/fonts/Futura_Bold_Italic/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Emerald';
    src: url('assets/fonts/Emerald/Pokmon-Emerald-Pro.woff2') format('woff2'), url('assets/fonts/Emerald/Pokmon-Emerald-Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Setup */

:root {
    font-size: 16px;
    --vp-pink: #FF55F8;
    --vp-blue: #00F0FF;
    --vp-purple: #B967FF;
    --vp-green: #05FFA1;
    --vp-yellow: #FFFB96;
}

html {
    background: radial-gradient(91.56% 91.56% at 50% 50%, #11072D 32.23%, rgba(24, 4, 80, 0.72) 100%);
    width: 100vw !important;
    overflow-x: hidden;
}


/* Navigation */

.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    height: 7rem;
    margin-bottom: 1rem;
    width: 100vw;
    z-index: 500;
    text-align: center;
    transition: background-color 600ms ease;
}

.navbar-nav {
    display: inline-block;
    list-style: none;
    float: none;
    padding: 0;
}

.navbar.scrolled {
    background-color: #11072D !important;
}

.nav-item {
    height: 100%;
    padding: 1.25rem 2rem 0 2rem;
    color: white;
}

.nav-icon {
    color: white;
    transition: color ease 600ms;
    font-size: 42px !important;
    height: 42px !important;
    width: 42px !important;
}

.nav-icon:hover {
    color: var(--vp-blue);
}

.logo {
    background: -webkit-linear-gradient(rgba(242, 81, 58, 1) 30%, rgba(240, 0, 138, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: .75rem;
    font-weight: 500;
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {
    .nav-item {
        padding: 1.25rem .5rem 0;
    }
    .nav-icon {
        font-size: 36px !important;
        height: 36px !important;
        width: 36px !important;
    }
    .navbar-nav {
        display: inline-flex;
    }
    .logo p {
        font-size: 1rem;
    }
}

.nav-break {
    border: none;
    height: 3px;
    color: lightgray;
    background-color: lightgray;
    margin: 0 20%;
}


/* Body */

body {
    margin: 0;
    padding: 0;
    color: white;
    background: transparent;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: gray;
}

body::-webkit-scrollbar-thumb {
    background: white;
}

main {
    margin-top: 5rem;
    padding: 1rem;
}

.welcome-container {
    text-align: center;
    margin: 10px;
}

@media only screen and (max-width: 800px) {
    main {
        padding: 0;
        overflow: hidden;
    }
    .welcome-container {
        text-align: center;
        margin: 4vh 0;
    }
}

.background-img {
    max-width: 80% !important;
    image-rendering: pixelated;
}

@keyframes gameboy-title {
    0% {
        background-position: right;
    }
    99% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.welcome-text {
    padding-right: 5px;
    padding: 5px;
    font-family: 'Asap', sans-serif;
    font-size: 15vw;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -2px;
    transform: skew(-5deg);
    color: #FFFFFF;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    overflow: hidden;
    white-space: nowrap;
    z-index: 16;
}

.welcome-text.scrolled {
    background: -webkit-linear-gradient(-15deg, #3232fc 35%, #85e367 35%, #85e367 36%, #ff52e8 36%, #ff52e8 37%, #ff0151 37%, #ff0151 38%, #f9e52e 38%, #f9e52e 42%, #FFFFFF 42%, #FFFFFF 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gameboy-title 2s forwards;
}

.resume-btn {
    text-transform: capitalize;
}

.section {
    margin: 4rem 0;
}

.heading {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 1rem;
    color: var(--vp-pink);
    padding-bottom: 3rem !important;
}

.pokemon-container {
    margin: 0 auto;
    padding: 2wwrem 0;
    width: 730px;
    display: flexbox;
}

.pokemon-text {
    font-family: 'Emerald';
    font-size: 2rem;
}

.pokemon-text .gen {
    text-shadow: 2px 0px gray;
    margin: 0;
    padding: 0;
}

.pokemon-pagination {
    background: -webkit-linear-gradient(left, #BD69D6 32%, #D692F7 36%, #D692F7 62%, #FFE3FF 66%, #FFE3FF 100%);
    padding: 0 0.5rem;
    height: 50px;
}

.pokemon-pagination .start {
    text-align: start;
    text-shadow: 2px 0px gray;
}

.middle > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #9420AD;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 -0.25rem 0;
  }
  .middle > a:focus {
    background: #fff;
  }

.pokemon-pagination .end {
    text-align: end;
    color: black;
    text-shadow: 2px 0px lightgray;
}

.pokemon-body {
    height: 460px;
    background: #006963;
}

.pokemon-showcase {
    height: 400px;
    background: #9CDBA5;
    margin-top: 1px;
    border-radius: 1rem;
    border-style: solid;
    border-width: medium;
    border-color: #63B28C;
}

.shape {
    position: absolute;
    bottom: 0;
    background-color: #BD69D6;
}

.pokemon-sprite {
    float: none !important;
    margin: auto;
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #D6D2BD,
    #D6D2BD 50%,
    #DEE3F7 50%,
    #DEE3F7 50%
    );
    background-size: 100% 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.pokemon-name-div {
    margin-top: 7px;
}

.pokemon-name {
    font-family: 'Emerald';
    font-size:2.5rem;
    text-shadow: 2px 0px gray;
    margin-left: 25px;
    line-height: 2rem;
}

.bottom-row {
    margin: 12px auto !important;
}

.pokemon-level {
    font-family: 'Emerald';
    text-shadow: 2px 0px gray;
    line-height: 1rem;
}

.lvl-pt-1{
    font-size: 1.5rem;
}

.lvl-pt-2{
    font-size: 2.5rem;
}

.male{
    font-size: 3.5rem;
    line-height: 0;
    color: #42CAFF;
}

.pokemon-info {
    height: 440px;
    margin-top: 20px;
    border-width: medium;
    border-style: solid;
    border-width: medium;
    border-color: black;

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.pokemon-info::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .pokemon-info {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.screens {
    width: 520px;
    height: 434px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

@media only screen and (max-width: 800px) {
    .pokemon-pagination {
        height: 3vh;
    }
    .pokemon-text {
        font-size: 1rem;
    }
    .pokemon-body {
        height: 40vh;
    }
    .pokemon-showcase {
        height: 35vh;
        background: #9CDBA5;
    }
    .pokemon-info {
        height: 37vh;
        margin-top: 3vh;
        margin-left: 1vw !important;
        border-radius: .75rem;
        border-style: solid;
        border-width: medium;
        border-color: black;
    }
}


/* Community Involvement */

.headers {
    list-style: none;
    padding: 0;
    margin: 0 5rem;
    font-size: 1rem;
}

.comm-itm {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.headers p {
    margin-bottom: 1.75rem;
}

.social-icons {
    width: 100vw;
    text-align: center;
    display: inline-block;
}

.social-icons ul {
    margin: 0;
    padding: 0;
}

.social-icons ul li {
    display: inline-block;
    margin: 3vh 6vw 0;
    list-style-type: none;
}

@media only screen and (max-width: 800px) {
    .heading {
        font-size: 1rem;
        padding-bottom: 1.5rem !important;
    }
    .headers {
        font-size: .5rem;
        margin: 0 1rem;
    }
    .comm-itm {
        font-size: 1rem;
    }
    .contact-info {
        font-size: .5rem;
    }
}